<div id="content">
  <div class="container">
    <div class="row">
      <div id="slide-show" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slide-show" data-slide-to="0" class="active"></li>
          <li data-target="#slide-show" data-slide-to="1"></li>
          <li data-target="#slide-show" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
              <%= link_to  image_tag("slide4.png", alt: "slide4.png") %>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <%= link_to  image_tag("slide5.png", alt: "slide5.png") %>
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <%= link_to  image_tag("slide6.jpg", alt: "slide6.jpg") %>
              <div class="carousel-caption">
              </div>
            </div>
          <a class="left carousel-control" href="#slide-show" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#slide-show" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <script>
        $('#slide-show').carousel({
          interval:   4000
        });
      </script>
    </div>
    <div class="row">
      <div class="filmCategory">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#phimdangchieu" data-toggle="tab"><h4>SHOWING MOVIE</h4></a>
          </li>
          <li>
            <a href="#phimsapchieu" data-toggle="tab"><h4>UPCOMING MOVIE</h4></a>
          </li>
        </ul>
        <div class="tab-content clearfix" id="films">
          <div class="tab-pane active" id="phimdangchieu">
            <% @films.each do |f| %>
              <% if f.status == "1" %>
                <div class="film col-md-3">
                  <%= link_to  image_tag(f.poster), film_path(id: f.id) if f.poster? %>
                  <div class="des">
                    <p><%= f.name %></p>
                    <%= link_to "SEE DETAILS", film_path(id: f.id), class: "btn btn-danger"%>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane" id="phimsapchieu">
            <% @films.each do |f| %>
            <% if f.status == "2" %>
              <div class="film col-md-3">
                <%= link_to  image_tag(f.poster), film_path(id: f.id) %>
                <div class="des">
                  <p><%= f.name %></p>
                  <%= link_to "SEE DETAILS", film_path(f), class: "btn btn-danger"%>
                </div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
   <%= render "slider" %>
  </div>
</div>
