<% provide :title, "PriceTicket"%>
<div id="content-price">
  <div class="container">
    <div class="row">
      <div class="lc-main-ticket-qc">
         <%= link_to  image_tag("qc.png", alt: "qc.png") %>
      </div>
      <div class="lc-main-ticket-table">
        <table>
          <thead>
            <tr>
              <th colspan="7" class="table-ticket-title">TABLE OF 2D TICKETS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="3" class="table-ticket-col3 ticket-day">Monday, Tuesday, Thursday</td>
              <td rowspan="2" class="table-ticket-col1 ticket-day">Happy Wednesday</td>
              <td colspan="3" class="table-ticket-col3 ticket-day">Friday, Saturday, Sunday and Holidays</td>
            </tr>
            <tr>
              <td class="table-ticket-col1 ticket-cate">
                First Shots,<br>
                Children, <br>
              CGV Young Member</td>
              <td class="table-ticket-col1 ticket-cate">Prior to 12:00 <br>
                Student,<br>
              Elderly</td>
              <td class="table-ticket-col1 ticket-cate">
                Adults,<br>
              After 12:00</td>
              <td class="table-ticket-col1 ticket-cate">
                Young CGV member, <br>
                Before 17:00, <br>
              Children</td>
              <td class="table-ticket-col1 ticket-cate">Student, <br>
                Before 17:00, <br>
              Elderly</td>
              <td class="table-ticket-col1 ticket-cate">Adults</td>
            </tr>
            <tr class="value">
              <td class="table-ticket-col1">55.000</td>
              <td class="table-ticket-col1">60.000</td>
              <td class="table-ticket-col1">75.000</td>
              <td class="table-ticket-col1">60.000</td>
              <td class="table-ticket-col1">60.000</td>
              <td class="table-ticket-col1">70.000</td>
              <td class="table-ticket-col1">90.000</td>
            </tr>
            <tr>
              <th colspan="7" class="ticket-footer" >OVERALL: ● VIP seats +5.000</th>
            </tr>
          </tbody>
        </table>

        <table class="table-nl">
          <thead>
            <tr>
              <th colspan="3" class="table-ticket-title">Holiday</th>
            </tr>

          </thead>
          <tbody>
            <tr>
              <td class="table-ticket-col3-nl">Children,<br>CGV Young member</td>
              <td class="table-ticket-col3-nl">Student <br>Elderly</td>
              <td class="table-ticket-col3-nl">Adults</td>
            </tr>
            <tr>
              <td class="table-ticket-col1-nl">60.000</td>
              <td class="table-ticket-col1-nl">80.000</td>
              <td class="table-ticket-col1-nl">105.000</td>
            </tr>
            <tr>
              <th colspan="3" class="ticket-footer" >OVERALL: ● VIP seats +5.000</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="lc-main-note">
        <h3>NOte:</h3>
        <ul>
          <li>-Please present your CGV membership card before purchasing your ticket to earn points.</li>
          <li>- The ticket price when booking online on the CGV website is the adult fare. Tickets such as student tickets, children's tickets and the elderly are available at the ticket counter at CGV Cinemas.</li>
          <li>- Children tickets are only available for children under the age of 1 and over 2 years of age.</li>
          <li>- Elderly tickets are only available to customers aged 55 and over. Please present your ID card when purchasing tickets.</li>
          <li>- Student tickets: show student ID card for the above benefits.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="event">
        <div class="title">
          <%= link_to  image_tag("h3_event.gif", alt: "h3_event.gif"), '/assets/images' %>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="carousel carousel-showmanymoveone slide" id="eventslider">
            <div class="carousel-inner">
                <div class="item active">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <%= link_to  image_tag("item1.jpg", alt: "item1.jpg"), class: "img-responsive" %>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <%= link_to  image_tag("item2.jpg", alt: "item2.jpg"), class: "img-responsive" %>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <%= link_to  image_tag("item3.jpg", alt: "item3.jpg"), class: "img-responsive" %>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <%= link_to  image_tag("item4.png", alt: "item4.png"), class: "img-responsive" %>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <%= link_to image_tag("item5.jpg", alt: "item5.jpg"), class: "img-responsive" %>
                  </div>
                </div>
                <div class="item">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <%= link_to  image_tag("item6.jpg", alt: "item6.jpg"), class: "img-responsive" %>
                  </div>
                </div>
              </div>
            <div id="slider-event-control">
             <%= link_to(image_tag("en.png", alt: "Left", class: "img-responsive"), "#", class: "left carousel-control", :'data-slide' => "prev") %>
             <%= link_to(image_tag("right.png", alt: "Right", class: "img-responsive"), "#", class: "right carousel-control", :'data-slide' => "next") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
