<% provide :title, "Schedule" %>
<div class="row">
	<div class="sect-person">
      <ul>
        <li><%= link_to "", class: "theater" %></li>
        <li><%= link_to "", class: "now-sh" %></li>
        <li><%= link_to "", class: "special" %></li>
        <li><%= link_to "", class: "arthouse" %></li>
        <li><%= link_to "", class: "contact" %></li>
        <li><%= link_to "", class: "new" %></li>
        <li><%= link_to "", class: "login" %></li>
      </ul>
    </div>
	<div class="scheduleFilm">
		<ul class="nav nav-tabs nav-showtimes-child">
			<li class="active">
				<a href="#date1" data-toggle="tab">
					<span>09</span>
					<em>Tue</em>
					<strong>26</strong>
				</a>
			</li>
			<li>
				<a href="#date2" data-toggle="tab">
					<span>10</span>
					<em>Wue</em>
					<strong>27</strong>
				</a>
			</li>
		</ul>
		<div class="tab-content clearfix">
			<div class="tab-pane active" id="date1">
				<div class="row show-times">
					<div class="titleFilm">
						<h3>KingDom Man</h3>
					</div>
					<div class="img-film-left col-md-3">
						<%= link_to  image_tag("10.jpg", alt: "CGV HHLcinema"), detailFilm_path%>
					</div>
					<div class="details-right col-md-9">
						<div class="typeFilm">
							<strong>2D Subtitles Viet</strong>
						</div>
						<div class="timeShow">
							<ul>
								<li>
									<button type="button" class="btn btn-primary">16:20 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">18:00 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">20:30 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">22:20 PM</button>
								</li>
							</ul>
						</div>
						<div class="clear-both"></div>
							<%= link_to "Booking", detailFilm_path, class: "book btn btn-danger" %>
					</div>
				</div>
				<div class="clear-both"></div>
				<hr>
				<div class="row show-times">
					<div class="titleFilm">
						<h3>Before you</h3>
					</div>
					<div class="img-film-left col-md-3">
						<%= link_to  image_tag("3.jpg", alt: "CGV HHLcinema"), detailFilm_path%>
					</div>
					<div class="details-right col-md-9">
						<div class="typeFilm">
							<strong>2D Subtitles Viet</strong>
						</div>
						<div class="timeShow">
							<ul>
								<li>
									<button type="button" class="btn btn-primary">18:20 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">18:00 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">20:30 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">22:20 PM</button>
								</li>
							</ul>
						</div>
						<div class="clear-both"></div>
							<%= link_to "Booking", detailFilm_path, class: "book btn btn-danger" %>
					</div>
				</div>
				<div class="clear-both"></div>
				<hr>
			</div>
			<div class="tab-pane " id="date2">
				<div class="row show-times">
					<div class="titleFilm">
						<h3>SORRY 2: THE FALLEN</h3>
					</div>
					<div class="img-film-left col-md-3">
						<%= link_to  image_tag("11.png", alt: "CGV HHLcinema"), detailFilm_path %>
					</div>
					<div class="details-right col-md-9">
						<div class="typeFilm">
							<strong>2D Subtitles Viet</strong>
						</div>
						<div class="timeShow">
							<ul>
								<li>
									<button type="button" class="btn btn-primary">16:20 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">18:00 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">20:30 PM</button>
								</li>
								<li>
									<button type="button" class="btn btn-primary">22:20 PM</button>
								</li>
							</ul>
						</div>
						<div class="clear-both"></div>
							<%= link_to "Booking", detailFilm_path, class: "book btn btn-danger" %>
					</div>
				</div>
				<div class="clear-both"></div>
				<hr>
			</div>
		</div>
	</div>
</div>
