<nav class="navbar navbar-default">
  <ul class="nav navbar-nav adminsidebar">
    <li><%= link_to "Film Manager", films_path %></li>
    <li><%= link_to "Schedule Manager", schedules_path %></li>
    <li><%= link_to "Category Manager", categories_path %></li>
    <li><%= link_to "OrderFilm Manager", orders_path %></li>
    <li><%= link_to "User Info Manager", users_path %></li>
  </ul>
</nav>
