<% provide :title, t(".signup") %>
<h1><%= t ".signup"%></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for @user do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.input :username, label: 'Your username please', error: 'Username is mandatory, please specify one' %>
      <%= f.input :email, placeholder: "thaolyno1@gmail.com" %><br>
      <div class="input-group">
        <div class="input-group-addon">+84</div>
        <%= f.input :phone,label:false, placeholder: "your phone number" %>
      </div>
      <br>
      <%= f.input :address %>
      <%= f.input :sex, collection: 1..2%>
      <%= f.input :password, hint: 'No special characters.' %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, class: "btn btn-primary"  %>
    <% end %>
  </div>
</div>
