<% provide :title , t(".title") %>
<div class="showadmin">
    <%= link_to t(".newfilm"), new_film_path, class: "btn btn-primary glyphicon glyphicon-arrow-left" %><br>
    <%= paginate @films %>
    <table class="table table-bordered table-list">
        <thead>
            <tr class="table-title">
                <th><%= t ".name" %></th>
                <th><%= t ".actor" %></th>
                <th><%= t ".duration" %></th>
                <th><%= t ".time" %></th>
                <th><%= t ".director" %></th>
                <th><%= t ".details" %></th>
                <th><%= t ".status" %></th>
                <th><%= t ".poster" %></th>
                <th><%= t ".trailer" %></th>
                <th><%= t ".category" %></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @films.each do |f| %>
            <tr>
                <td><%= f.name %></td>
                <td><%= f.actor %></td>
                <td><%= f.duration %></td>
                <td><%= f.time %></td>
                <td><%= f.directors %></td>
                <td><%= f.detail %></td>
                <td><%= f.status %></td>
                <td><%= f.poster %></td>
                <td><%= f.trailer %></td>
                <td><%= f.category_id %></td>
                <td>
                    <%= link_to t(".edit"), edit_film_path(f.id) %>
                </td>
                <td>
                    <% if current_user.try :admin? %>
                        <%= link_to t(".delete"), f, method: :delete, data: {confirm: t(".sure")} %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= paginate @films %>
</div>
