<div id="detail_film">
  <div class="row">
    <% if @film %>
      <div class="img-detail col-md-4">
        <%= link_to image_tag(@film.poster) %>
      </div>
      <div class="content-detail col-md-8">
        <h3><%= @film.name %></h3>
        <p><STRONG><%= t ".time" %></STRONG><%= @film.time%><%= t ".minutes" %></p>
        <p><STRONG><%= t ".director" %></STRONG><%= @film.directors %></p>
        <p><strong><%= t ".actor" %></strong><%= @film.actor %></p>
        <STRONG><%= t ".content" %></STRONG>
        <p><%= @film.detail %></p>
        <STRONG><%= t ".rate" %></STRONG>
        <p>
          <%= rating_for @film, t(".average"), disable_after_rate: false, enable_half: true, half_show: false, star: 10 %>
        </p>
        <div id="noti"></div>
        <a href="#" data-toggle="modal" data-target="#myModal"><button class="btn btn-primary">Booking</button></a>
        <!-- Modal -->

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><%= t ".select_time" %></h4>
                </div>
                <div class="modal-body">
                  <h3><%= @film.name %></h3>

                  <ul class="nav">
                    <% @film.schedules.each do |s| %>
                      <li>
                        <%= s.date %> <br> <br>
                        <%= link_to (I18n.l s.time, format: Settings.films.format), order_path(s.id), class: "btntime btn btn-primary" %> <br>
                      </li>
                    <% end %>
                  </ul>
                </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clear-both"></div>
  <div class="row" id="form-review">
  <% if logged_in? %>
    <%= form_for @reviews do |r|%>
      <%= r.text_area :content, placeholder: t(".placeholder"), class: "form-control", :rows => "3" %>
      <%= r.hidden_field :film_id, value: @film.id, class: "form-control" %>
      <%= r.submit t(".post"), class: "btn btn-primary" %>
    <% end %>
  <% end %>
  </div>
  <div class="row" id="reviewUser">
    <%= render "comment" %>
  </div>
</div>

