<div class="row" style="margin-top: 5%">
  <div class="col-md-2">
    <%= render "admin/sidebar_admin" %>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="container">
          <div class="col-md-2">
            <%= link_to t(".new"), new_category_path, class: "btn btn-primary glyphicon glyphicon-arrow-left" %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover table-bordered">
          <thead>
            <tr class="table-title">
                <th><%= t ".name" %></th>
                <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td>
                  <%= link_to t(".edit"), edit_category_path(f.id) %>
              </td>
              <td>
                <% if current_user.try :admin? %>
                  <%= link_to t(".delete"), f, method: :delete, data: {confirm: t(".sure")}, class: "glyphicon glyphicon-trash" %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
         <%= paginate @categories,remote: true, :theme => "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</div>
