<header id="header">
  <div class="container">
    <div class="row">
      <div class="menu">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <div class="logo">
            <%= link_to image_tag("logo.png", alt: "logo.png"), '/assets/images' %>
          </div>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
          <div class="menu-top">
            <nav>
              <ul>
                <li><%= link_to "MOVIE", root_path %></li>
                <li><%= link_to "MOVIE SCHEDULE", schedule_path %></li>
                <li><%= link_to "FARE", priceTicket_path %></li>
                <% if logged_in? && !current_user.try(:admin?) %>
                  <li><%= @current_user.username %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", '#' %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Log out", logout_path, method: :delete %></li>
                    </ul>
                  </li>
                <% elsif current_user.try(:admin?) %>
                  <li><%= link_to @current_user.username, films_url %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", '#' %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Log out", logout_path, method: :delete %></li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "REGISTRATION", signup_path %></li>
                  <li><%= link_to "LOG IN", login_path %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="search-new">
            <%= link_to image_tag("new-offer-vn.png", alt: "new-offer-vn"), '/assets/images' %>
          </div>
           <div class="search">
            <form action="/search_results" method="get" accept-charset="utf-8">
              <div class="search-box">
                  <input type="text" name="term" id="filter-autocomplete-search" class="ui-autocomplete-input" autocomplete="off">
                  <input type="submit" name="commit" value="search" data-disable-with="search" class="sub">
              </div>
            </form>
          </div>
          <div class="search-booking">
            <%= link_to image_tag("icon-mua-ve_ngay.png", alt: "icon-mua-ve_ngay.png"), '/assets/images' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- /header -->
