<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application" %>

    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <% flash.each do |message_type, message| %>
            <div class="notice alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <script>
      $(document).ready(function(){
        $(".notice").fadeOut(2000);
      });
    </script>
  </body>
</html>
